.container-details{
    width: 99.5%;
    height: 100vh;
    background-color: white;
    position:absolute;
    overflow: scroll;
  

}



.presentation-container{
    background-color: var(--presentation-color);
    animation-duration: 0.5s;
    animation-name: slidein;
}

.education-container{
    display: grid;
    background-color: var(--education-color);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    animation-duration: -0.5s;
    animation-name: slidein;

}

/* .slidein {
    animation-duration: 3s;
    animation-name: slidein;

  } */
  
 @keyframes slidein {
    from {
      width:40%
    } 
  
    to {

      width:100%;
    }
  } 

