.profile-picture{
    width: 169px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
}

.presentation-details{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: stretch;


}

.presentation-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 100%;
}

.right{
    background-color: white;
}

.identity-and-picture{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.hobby{
margin-right: 0.2vw;
font-size: 4vh;
}

.hobbies {
    width: 100%;
}

.hobbies-list-icons{
    display: flex;
   justify-content: center;
}

.identity-title{
    font-size: 4vh;
    color: black;
}

.fondamentals-skills{
    display: flex;
    flex-direction:column;
}

.fskill{
    margin-right: 2vw;
}

@media (max-width: 700px) { 
    .presentation-details{

        display: block;
    }
 }