

.display-none{
  display: none;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    animation-name: headerwidthanimation;
    animation-duration: 2s;  
}

.header-container-coming{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 10vh;
  font-family: 'Karla', sans-serif;
}


@keyframes headerwidthanimation {
  0% { height: 100vh;}
  100% { height: 20vh;}

}

.arrow{
  position: relative;
  animation-name: arrowanimation;
  animation-duration: 3s;  
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes arrowanimation {
  from {top: 0px;}
  to {top: 100px; color: grey;}
}

.welcome{
  animation-name: welcomeanimation;
  animation-duration: 3s;
}

@keyframes welcomeanimation {
  from {color:white;}
  to {color: grey;}
}

.fname{
  color: grey;
}
